<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join</title>
</head>
<body>

    
    <textarea name="remoteDesc" cols="40" rows="5" id="remoteDesc"></textarea>
    <button onclick="joinRoom()">Join Room</button>
</br>
    <textarea name="localDesc" cols="40" rows="5" id="LocalDesc"></textarea>
</br>
    <textarea name="tosendField" cols="10" rows="3" id="sendField"></textarea>
    <button onclick="send()" id="sendButton">Send</button>
</br>
    <textarea name="receiveField" cols="10" rows="3" id="receiveField"></textarea>

    <script>

        const localDesc = document.getElementById("localDesc");
        const sendButton = document.getElementById('sendButton');
        const sendField = document.getElementById('sendField');
        const receiveField = document.getElementById('receiveField');
        sendButton.disabled = true;
        sendField.disabled = true;
        receiveField.disabled = true;

        const peerConnection = new RTCPeerConnection();
        var dataChannel;

        peerConnection.ondatachannel = e => {
            dataChannel = event.channel;
            sendButton.disabled = false;
            sendField.disabled = false;
            receiveField.disabled = false;

            dataChannel.onopen = e=>{
            sendButton.disabled = false;
            sendField.disabled = false;
            receiveField.disabled = false;
            }

            dataChannel.onclose = e=>{
                sendField.value = "";
                sendButton.disabled = true;
                sendField.disabled = true;
                receiveField.value = "";
                receiveField.disabled = true;
            }

            dataChannel.onmessage= e=>{
                receiveField.value = e.data;
            }
        }

        peerConnection.onicecandidate = e=>{
            console.log("New ice candidate found, reprinting SDP" + JSON.stringify(peerConnection.localDescription));
            document.getElementById("LocalDesc").value = JSON.stringify(peerConnection.localDescription);
        }

        function joinRoom(){
            
            peerConnection.setRemoteDescription(JSON.parse(document.getElementById("remoteDesc").value)).then(a=> console.log("Offer set")).then(e=>{
                peerConnection.createAnswer().then(a=>peerConnection.setLocalDescription(a)).then(e=>{
                    console.log("Answer set");
                }
            );
            });
            
        }

        peerConnection.addEventListener('connectionstatechange', event => {
            if (peerConnection.connectionState === 'connected') {
                console.log("Connected")
            }
        });

        function send(){
            const msg = sendField.value;
            sendField.value = "";
            dataChannel.send(msg);
        }

        

    </script>
    
</body>
</html>