<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join</title>
</head>
<body>

    
    <label for="username">Enter name of room to join:</label>
    <textarea name="username" cols="12" rows="1" id="username"></textarea>
    <button onclick="joinroom()">Join room</button>
</br>
    <var id='status1'>Connection closed</var>
</br>
    <button onclick="closeConnection()" id="closeButton">Close Connection</button>
</br></br>
<a id="download"></a>
    
    <script type="text/javascript" src="static/socketio.js"></script>
    <script>
        
        const downloadAnchor = document.getElementById('download');
        const usernameid = document.getElementById("username");
        const status1 = document.getElementById("status1");
        const closeButton = document.getElementById("closeButton")
        closeButton.disabled = true
        var socket = io.connect();
        
        socket.emit('test');
        var peerConnection = new RTCPeerConnection();
        var dataChannel;
        var json;

        let downloadArray = [];
        let fileSize = 0;
        let receivedSize = 0;

        peerConnection.addEventListener('connectionstatechange', event => {
            if (peerConnection.connectionState === 'connected') {
                closeButton.disabled = false
                status1.innerHTML = "Connection established"
            }
        });

        peerConnection.ondatachannel = e => {
            dataChannel = event.channel;
            

            dataChannel.onopen = e=>{
                
            }

            dataChannel.onclose = e=>{
                closeButton.disabled = false
                status1.innerHTML = "Connection closed"
            }

            dataChannel.onmessage= e=>{
                if(receivedSize==0){
                    console.log("File transfer started")
                }
                downloadArray.push(e.data);
                receivedSize += e.data.byteLength;

                if(receivedSize == fileSize){
                    console.log("File fully received");
                    console.log(fileSize);
                    
                    const received = new Blob(downloadArray)
                    console.log(received)
                    downloadAnchor.href = URL.createObjectURL(received);
                    downloadAnchor.download = "File"
                    downloadAnchor.textContent = "Click to download"
                    downloadArray = [];
                    return ;
                }
            }
        }

        peerConnection.onicecandidate = e=>{
            delete json.localDesc;
            json['answer']=peerConnection.localDescription;
            console.log(json)
            socket.emit('answer',JSON.stringify(json));
        }

        function closeConnection(){
            peerConnection.close();
        }

        function joinroom(){
            //peerConnection = new RTCPeerConnection();
            socket.emit('join_room',usernameid.value);
        }

        socket.on('response_file_info', function(data){
            fileSize = data;
        });

        socket.on('remote_desc_join', function(data){
            json = JSON.parse(data);
            peerConnection.setRemoteDescription(JSON.parse(json.localDesc)).then(a=> console.log("Offer set")).then(e=>{
                    peerConnection.createAnswer().then(a=>peerConnection.setLocalDescription(a)
                );
            });
        });

        socket.on('notfound', function(){
            usernameid.value = "User not found"
            console.log('User not  found')
        });

        peerConnection.addEventListener('connectionstatechange', event => {
            if (peerConnection.connectionState === 'connected') {
                console.log("Connected")
            }
        });

        function send(){
            const msg = sendField.value;
            sendField.value = "";
            dataChannel.send(msg);
        }

        

    </script>
    
</body>
</html>