<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make</title>
</head>
<body>

    <label for="username">Enter name of room:</label>
    <textarea name="username" cols="10" rows="2" id="username"></textarea>
    <button onclick="makeroom()">Make room</button>
</br>

    <textarea name="tosendField" cols="10" rows="3" id="sendField"></textarea>
    <button onclick="send()" id="sendButton">Send</button>
</br>
    <textarea name="receiveField" cols="10" rows="3" id="receiveField"></textarea>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script>
        const usernameid = document.getElementById("username");
        const sendButton = document.getElementById('sendButton');
        const sendField = document.getElementById('sendField');
        const receiveField = document.getElementById('receiveField');
        sendButton.disabled = true;
        sendField.disabled = true;
        receiveField.disabled = true;
        var socket = io()
        var json = {}
        const configuration = {'iceServers': [{'urls': 'stun:stun.l.google.com:19302'}]}

        const peerConnection = new RTCPeerConnection(configuration);
        const dataChannel = peerConnection.createDataChannel("channel");

        peerConnection.onicecandidate = e=>{
            //console.log("New ice candidate, reprinting SDP" + JSON.stringify(peerConnection.localDescription));
        }

        function makeroom(){
            peerConnection.createOffer().then(o=>peerConnection.setLocalDescription(o).then(e=>{
                    json.username = usernameid.value
                    json.localDesc = JSON.stringify(o);
                    if(json.localDesc){
                        socket.emit('user_added',JSON.stringify(json));
                    }
                }
            ))
            
        }

        socket.on('set_remote',function(data){
            console.log("Setting remote desc ...")
            peerConnection.setRemoteDescription(JSON.parse(data));
        });

        socket.on('duplicate', function(){
            console.log("Username already taken")
        });

        peerConnection.addEventListener('connectionstatechange', event => {
            if (peerConnection.connectionState === 'connected') {
                console.log("Connected")
            }
        });

        function send(){
            const msg = sendField.value;
            sendField.value = "";
            dataChannel.send(msg);
        }

        dataChannel.onopen = e=>{
            sendButton.disabled = false;
            sendField.disabled = false;
            receiveField.disabled = false;
        }

        dataChannel.onclose = e=>{
            sendField.value = "";
            sendButton.disabled = true;
            sendField.disabled = true;
            receiveField.value = "";
            receiveField.disabled = true;
        }

        dataChannel.onmessage= e=>{
            receiveField.value = e.data;
        }


    </script>
    
</body>
</html>